<br>

<div><app-dashboard></app-dashboard>
<a [routerLink]="['/add']"><button style="float:right" class="btn btn-success">New Order</button></a></div>
<div style="text-align: center;">
    <h1>Order Management System​</h1>
    <h2>
        OrderList
    </h2></div>
<div><br>
    <div class="row">
                <div class="col-sm-12">
            <table class="table table-bordered" style="text-align: center;">
                <thead>
                    <tr>
                        <th *ngFor="let header of tableHeaders">
                            {{header}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let detail of details; let detailId = index">
                        <td>{{detail.id}}</td>
                        <td>{{detail.name}}</td>
                        <td>{{detail.due}}</td>
                        <td>{{detail.address}}</td>
                        <td>{{detail.phone}}</td>
                        <td>{{detail.total}}</td>

                        <td>
                            <a [routerLink]="['/details/view/', detail.id]"><button >view</button></a> |
                            <a [routerLink]="['/details/edit/', detail.id]"><button >edit</button></a> |
                            <a (click)="deleteDetail(detail.id, detailId)"><button >delete</button></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>